20210415/
.DS_Store
*/.DS_Store
*/**/.DS_Store
bin/
*/bin/
*/**/bin/
include/
*/include/
*/**/include/
lib/
*/lib/
*/**/lib/
*.pyc
bin/
*/bin/
*/**/bin/
*.txt
*.csv
*.xlsx
*.png
*.pdf
*/**/*.fasta
*/**/*.result
